header {
  background: lightblue;
  display: flex;
  justify-content: center;
  color: $textColor;
  button {
    background: $primaryBtn;
    &:hover {
      background: yellow;
    }
    &::after {
      content: " This is a test!";
    }
  }
}
