@import "./variables";
@import "./header";

body {
  font-family: "Roboto", sans-serif;
}

.contact {
  @extend header;
  background: yellow;

  #{&}__button {
    background: $primaryBtn;
    padding: 1rem;
  }
}
